/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*.field {
	text-align: center;
}
#center{
	margin-top:100px;
	text-align:center;
}*/

body,html{
	background:url(http://fotoeclipse.files.wordpress.com/2010/01/bottom_background1-highway.jpg) fixed black no-repeat center center;


  width:100%;
  height:100%;
}
 .vertical-wrapper {
  display: table;
  width:100%;
  height:100%;
}
.vertical-center {
  display:table-cell;
  vertical-align: middle;;
}
.container{
	background: rgba(255,255,255,0.33);
}